<!-- ========== HEADER ========== -->
<header id="header" class="header header-bg-transparent header-abs-top">
    <div class="header-section">
      <div id="logoAndNav" class="container-fluid">
        <!-- Nav -->
        <nav class="navbar navbar-expand header-navbar">
          <!-- White Logo -->
          <a class="d-none d-lg-flex navbar-brand header-navbar-brand" [routerLink]="['/']"  aria-label="Front">
            <img src="../../assets/svg/logos/logo-white.svg" alt="Logo">
          </a>
          <!-- End White Logo -->

          <!-- Default Logo -->
          <a class="d-flex d-lg-none navbar-brand header-navbar-brand header-navbar-brand-collapsed" [routerLink]="['/']" aria-label="Front">
            <img src="../../assets/svg/logos/logo.svg" alt="Logo">
          </a>
          <!-- End Default Logo -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Form -->
    <div class="d-flex align-items-center position-relative vh-lg-100">
      <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center bg-navy vh-lg-100 px-0" style="background-image: url(../../assets/svg/components/abstract-shapes-20.svg);">
        <div class="w-100 p-5">
          <!-- SVG Quote -->
          <figure class="text-center mb-5 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
              <path fill="#fff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
            </svg>
          </figure>
          <!-- End SVG Quote -->

          <!-- Testimonials Carousel Main -->
          <div id="testimonialsNavMain" class="js-slick-carousel slick mb-4"
               data-hs-slick-carousel-options='{
                 "autoplay": true,
                 "autoplaySpeed": 5000,
                 "fade": true,
                 "infinite": true,
                 "asNavFor": "#testimonialsNavPagination"
               }'>
            <div class="js-slide">
              <!-- Testimonials -->
              <div class="w-md-80 w-lg-60 text-center mx-auto">
                <blockquote class="h3 text-white font-weight-normal mb-4">The template is really nice and offers quite a large set of options. Thank you!</blockquote>
                <span class="d-block text-white-70">Christina Kray, Google</span>
              </div>
              <!-- End Testimonials -->
            </div>

            <div class="js-slide">
              <!-- Testimonials -->
              <div class="w-md-80 w-lg-60 text-center mx-auto">
                <blockquote class="h3 text-white font-weight-normal mb-4">It's beautiful and the coding is done quickly and seamlessly. Keep it up!</blockquote>
                <span class="d-block text-white-70">James Austin, Slack</span>
              </div>
              <!-- End Testimonials -->
            </div>

            <div class="js-slide">
              <!-- Testimonials -->
              <div class="w-md-80 w-lg-60 text-center mx-auto">
                <blockquote class="h3 text-white font-weight-normal mb-4">I love Front! I love the ease of use, I love the fact that I have total creative freedom...</blockquote>
                <span class="d-block text-white-70">Charlotte Moore, Amazon</span>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>
          <!-- End Testimonials Carousel Main -->

          <!-- Testimonials Carousel Pagination -->
          <div id="testimonialsNavPagination" class="js-slick-carousel slick slick-transform-off slick-pagination-modern mx-auto"
               data-hs-slick-carousel-options='{
                 "infinite": true,
                 "slidesToShow": 3,
                 "centerMode": true,
                 "isThumbs": true,
                 "asNavFor": "#testimonialsNavMain"
               }'>
            <div class="js-slide">
              <div class="avatar avatar-circle mx-auto">
                <img class="avatar-img" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
              </div>
            </div>

            <div class="js-slide">
              <div class="avatar avatar-circle mx-auto">
                <img class="avatar-img" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              </div>
            </div>

            <div class="js-slide">
              <div class="avatar avatar-circle mx-auto">
                <img class="avatar-img" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Testimonials Carousel Pagination -->

          <!-- Clients -->
          <div class="position-absolute right-0 bottom-0 left-0 text-center p-5">
            <span class="d-block text-white-70 mb-3">Front partners</span>
            <div class="d-flex justify-content-center">
              <img class="max-w-10rem mx-auto" src="../../assets/svg/clients-logo/slack-white.svg" alt="Image Description">
              <img class="max-w-10rem mx-auto" src="../../assets/svg/clients-logo/google-white.svg" alt="Image Description">
              <img class="max-w-10rem mx-auto" src="../../assets/svg/clients-logo/spotify-white.svg" alt="Image Description">
            </div>
          </div>
          <!-- End Clients -->
        </div>
      </div>

      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-top-3 space-lg-0">
            <!-- Form -->
            <form [formGroup]="loginForm" (submit)='login()'>
              <!-- Title -->
              <div class="mb-5 mb-md-7">
                <h1 class="h2">Welcome back</h1>
                <p>Login to manage your account.</p>
              </div>
              <!-- End Title -->

              <!-- Form Group -->
              <div class="js-form-message form-group">
                <label class="input-label" for="signinSrEmail">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="signinSrEmail" tabindex="1" placeholder="Email address" aria-label="Email address" required
                       data-msg="Please enter a valid email address.">
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="js-form-message form-group">
                <label class="input-label" for="signinSrPassword" tabindex="0">
                  <span class="d-flex justify-content-between align-items-center">
                    Password
                    <a class="link-underline text-capitalize font-weight-normal" [routerLink]="[]" >Forgot Password?</a>
                  </span>
                </label>
                <input type="password" class="form-control" formControlName="password" id="signinSrPassword" tabindex="2" placeholder="********" aria-label="********" required
                       data-msg="Your password is invalid. Please try again.">
              </div>
              <!-- End Form Group -->

              <!-- Button -->
              <div class="row align-items-center mb-5">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <span class="font-size-1 text-muted">Don't have an account?</span>
                  <a class="font-size-1 font-weight-bold" [routerLink]="['/auth/register']">Signup</a>
                </div>

                <div class="col-sm-6 text-sm-right">
                  <button type="submit" class="btn btn-primary transition-3d-hover" (click)="login()" [disabled]='loginForm.invalid'>Get Started</button>
                </div>
              </div>
              <!-- End Button -->
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Form -->
  </main>
  <!-- ========== END MAIN ========== -->