<!-- Card -->
<div class="card">
    <div class="card-header">
      <div class="input-group input-group-merge input-group-borderless">
        <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <input type="search" class="form-control" placeholder="Search name or number" aria-label="Search orders">
      </div>
    </div>

    <!-- Content card body -->
    <div class="card-body">
      <div *ngIf="datas$ | async as datas">
          <div class="grid-card">
            <student-infos *ngFor="let data of datas" [member]='data'></student-infos>
         </div>
      </div>
    </div>
    <!-- End card body -->

    <div class="card-footer">
         <!-- Pagination -->
         <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
          <!-- End Pagination -->
    </div>
    
</div>
<!-- End Card -->