<div class="card">
    <div class="card-header">
        <h5>Set your number</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-soft-primary" (click)="OnPrevious()">Previous</button>
        <button class="btn btn-primary" (click)="go()">Finish</button>
    </div>
</div>