<!-- member infos -->
<div class="border rounded-lg card p-3">
    <div class="media align-items-center">
        <span class="avatar avatar-sm avatar-circle avatar-soft-secondary  mr-3 d-flex align-items-center justify-content-center">
            <small class="font-weight-bold">{{member.lastName.charAt(0).toUpperCase()}}{{member.name.charAt(0).toUpperCase()}}</small>
        </span>

        <div class="d-flex flex-grow-1">
            <div class="media-body">
                <a class="d-inline-block text-dark" href="#">
                  <h6 class="text-hover-primary mb-0">{{member.lastName}} {{member.name}}</h6>
                </a>
                <small class="d-block">{{member.number}}</small>
                <div class="d-flex mt-1">
                    <button type="button" class="btn btn-ghost-primary btn-xs mr-2">
                        Add
                    </button>

                    <button type="button" class="btn btn-soft-danger btn-xs">
                        Delete
                    </button>
                </div>
              </div>          
        </div>
      </div>
</div>
<!-- End member infos -->