  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="bg-light">

    <!-- Content Header -->
      <main-header></main-header>
    <!-- End Content Header -->

    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 mt-lg-n10">
      <div class="row">
        <div class="col-lg-3">
          <!-- Navbar -->
          <main-sidebar></main-sidebar>
          <!-- End Navbar -->
        </div>

        <div class="col-lg-9">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->