<div class="card">
    <div class="card-header">
        <h5>Set ydsds</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <form [formGroup]="form">

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput2">LastName</label>
                <input type="text" id="exampleFormControlInput2" class="form-control" placeholder="John" formControlName="lastName">
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Name</label>
                <input type="text" id="exampleFormControlInput1" class="form-control" placeholder="Bio" formControlName="name">
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Birth day</label>
                <input type="date" id="exampleFormControlInput1" class="form-control" placeholder="John" formControlName="birthDay">
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Number</label>
                <input type="text" id="exampleFormControlInput1" class="form-control" placeholder="(225)77331307" formControlName="number">
            </div>
        </form>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-soft-primary" (click)="OnPrevious()">Previous</button>
        <button class="btn btn-primary" (click)='OnNext()' [disabled]='form.invalid' >Next</button>
    </div>
</div>