<div class="card">
    <div class="card-header">
        <h5>Choose your classroom</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <div *ngIf="datas$ | async as datas">
            <div class="grid-card">
                <div class="grid-content" *ngFor="let data of datas">
                    <div class="card">
                        <div class="form-control">
                            <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="genderTypeRadio" id={{data.id}} [value]='data.id' (change)='onChecked($event.target)'>
                            <label class="custom-control-label vw-100" for={{data.id}}>{{data.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-primary" (click)="OnNext()" [disabled]='!isSelected'>Next</button>
    </div>
</div>