<!-- Card -->
<div class="card">
    <div class="card-header">
        <a class="btn btn-sm btn-link text-body" [routerLink]="['/messages']" >
          <i class="fas fa-angle-left mr-1"></i> Messages
        </a>
    </div>
    <form [formGroup]="messageForm">
        <div *ngIf="classrooms$ |async as classrooms">
          <div class="card-body">
                
                  <!-- Select -->
                  <div class="mx-3 mb-4">
                      <select class="js-custom-select" formControlName="destinataires" multiple
                        data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "placeholder": "Send to ?"
                        }'>
                        <option *ngFor="let classroom of classrooms" [value]="classroom.id"> {{classroom.name}} </option>
                    </select>
                  </div>
                <!-- End Select -->
          
                  <!-- Textarea -->
                    <div class="mx-3">
                      <div class="form-group">
                        <textarea type="text" formControlName="messageBody" placeholder="Type your message..." 
                          class="form-control p-3" style="min-height: 15rem; width: 100%;">
                          </textarea>
                        </div>
                    </div>
                    <!-- End Textarea --> 
              </div>
        
        <!-- Footer -->
        <div class="card-footer d-flex justify-content-end">
          <span class="mx-2"></span>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]='messageForm.invalid'>
            <i class="fas fa-paper-plane mr-1"></i> Send
          </button>
        </div>
        <!-- End Footer -->
        </div>
    </form>
    
   

  </div>
  <!-- End Card -->