<!-- Card -->
<div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Messages</h5>
      <a class="btn btn-sm btn-primary" [routerLink]="['/messages/write']" >
          <i class="fab fa-whatsapp fa-lg mr-1"></i> New
      </a>
    </div>

    <!-- Content card body -->
    <div class="card-body">

    </div>
    <!-- End card body -->


  </div>
  <!-- End Card -->