<!-- student infos -->
<div class="grid-content">
    <div class="border rounded-lg card p-3">
        <div class="media">
            <span class="avatar avatar-sm avatar-circle bg-soft-primary mr-3 d-flex align-items-center justify-content-center">
                <i class="fa fa-graduation-cap"></i>
            </span>
    
            <div class="d-flex flex-grow-1 flex-column">
                <div class="media-body">
                    <a class="d-inline-block text-dark" href="#">
                      <h6 class="text-hover-primary mb-0">{{classroom.toLocaleUpperCase()}}</h6>
                    </a>
                </div>          
                <a class="btn btn-sm btn-link text-body text-right" [routerLink]="[]" >
                    Show  <i class="fas fa-angle-right"></i> 
                </a>
            </div>
          </div>
    </div>
</div>
<!-- End student infos -->